@use "../../variables.scss" as *;


.uploader__section{
    border: 1px dashed black;
    margin: 4rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;

    input[type="file"]{
        margin-top: 3rem;
        display: none;
    }
    .custom__file__upload{
        border: 1px solid gray;
        padding: 0.4rem 2rem;
        margin-top: 2rem;
        border-radius: 8px;
        cursor: pointer;
        transition: $transition;
    }
    .custom__file__upload:hover{
        background-color: $colorSecondry;
        color: white;
        letter-spacing: 1px;
    }
    button{
        width: 5rem;
        margin-top: 1rem;
    }
    img{
        height: 300px;
        -webkit-box-shadow: 2.5px 9.5px 13.5px 10px #dddddd;
        -moz-box-shadow: 2.5px 9.5px 13.5px 10px #dddddd;
        box-shadow: 2.5px 9.5px 13.5px 10px #dddddd;
    }
    .images__container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .blur__value__label{
        margin-top: 1rem;
        input{
            width: 20rem;
        }
    }
    button{
        padding: 0.8rem 2rem;
        display: flex;
        justify-content: center;
        width: 15rem;
        border : 1px solid transparent;
        background-color: $colorSecondry;
        color: white;
        border-radius: 8px;
        transition: $transition;
        cursor: pointer;
    }
    button:hover{
        background-color: transparent;
        border: 1px solid $colorSecondry;
        color: $colorSecondry;
        letter-spacing: 1px;
    }
    button:disabled{
        background-color: gray;
        pointer-events: none;
    }
    a{
        color: $colorPrimaryVariant;
    }
}
